<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:mvc="http://www.springframework.org/schema/mvc" 
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="
        http://www.springframework.org/schema/beans    
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
 <mvc:annotation-driven />
 <!-- Fixing CORS at application level-->
<!--  <mvc:cors> -->
<!--     <mvc:mapping path="/**" allowed-origins="*"/> -->
<!--  </mvc:cors> -->
 <context:component-scan base-package="com.parlana.core" />
 <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	<property name="basePackage" value="com.parlana.core.model.dao.mapper" />
 </bean>
 <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="mysqlDataSource" />
	<property name="configLocation" value="classpath:config/mybatis-config.xml"/>
</bean>

<!-- Just for test purpouses -->
<bean id="mysqlDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="com.mysql.jdbc.Driver" />
	<property name="url" value="jdbc:mysql://parlanadbinstance.ceiwtsarkplq.us-east-2.rds.amazonaws.com:3306/parlanadb" />
	<property name="username" value="admin" />
	<property name="password" value="admin123" />
</bean>

<!-- Configure to plugin JSON as request and response in method handler -->
<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
    <property name="messageConverters">
        <list>
            <ref bean="jsonMessageConverter"/>
        </list>
    </property>
</bean>
 
<!-- Configure bean to convert JSON to POJO and viceversa -->
<bean id="jsonMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean> 

<!-- Messages -->
<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
		 <list>
		 	<value>messages/i18n/error/errors</value>
		 	<value>messages/i18n/info/infos</value>
		 	<value>messages/i18n/alert/alerts</value>
		 </list>
		</property>
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="cacheSeconds" value="0" />
</bean>
</beans>

